.img-card-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.text-green {
  color: aqua;
}
.card {
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.015);
  box-shadow: 0px 0px 10px 1px grey;
}
