.img-card-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.text-green {
  color: aqua;
}
.btn2 {
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1.5em;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}
.btn2::before {
  transition: 0.4s ease-out;
  position: absolute;
  content: "";
  z-index: -1;

  border-radius: 4px;
}
.btn2:hover {
  cursor: pointer;
}
.btn2 {
  color: rgb(255, 255, 255);
  background-color: rgb(26, 1, 255);
}

.btn2::before {
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  background-color: crimson;
}

.btn2:hover::before {
  transition: 0.5s;
  z-index: -1;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
